<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>
        %date{HH:mm:ss.SSS,,en-US} [%-10thread] %highlight(%-5level %-30logger{26}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="117HD_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>117hd.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>117hd.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>2</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>
        %date{HH:mm:ss.SSS,,en-US} [%-10thread] %highlight(%-5level %-30logger{26}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="rs117.hd" level="debug" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="117HD_LOG"/>
  </logger>

  <logger name="rs117.hd.HdPluginTest" level="debug" additivity="false">
    <appender-ref ref="117HD_LOG"/>
  </logger>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
